body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.header {
  color: #000080;
  text-align: left;
}
.taulu {
  border-style: dashed;
  border-bottom-color: #000080;
}
